@model OnlineBookingTicket.Models.MovieVMs.MovieDetailsVM
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>

@*<div class="row">
    <div class="col-md-6">
        <img src="../../Image/@Model.Image" alt="Card image cap"
             style="max-width: 500px; max-height: 400px;">
    </div>
    <div class="col-sm-6">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DurationInMinutes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DurationInMinutes)
        </dd>

    </div>
</div>*@
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            <img src="../../Image/@Model.Image" alt="Card image cap"
            style="max-width: 900px; max-height: 400px;">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationInMinutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationInMinutes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-2">
            Movie Shows
        </dt>
        <dd class="col-sm-10">
            <table>
                <thead>
                    <tr>
                        <th>Cinema Hall</th>
                        <th>ShowDate</th>
                        <th>Start</th>
                        <th>End</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var movieShow in Model.MovieShows)
                    {
                        var showDate = movieShow.Date;
                        var currentDate = DateTime.Now;
                      
                        @if (showDate >= currentDate)
                        {
                            <tr>
                                <td>@movieShow.CinemaHall.Name</td>
                                <td>@movieShow.Date.ToString("dd/MM/yyyy")</td>
                                <td>@movieShow.Starttime.ToString("hh:mm tt")</td>
                                <td>@movieShow.Endtime.ToString("hh:mm tt")</td>
                                <td>
                                    <form action="@Url.Action("SelectSeats", "MovieShows")" method="post">
                                        <input type="hidden" name="movieShowId" value="@movieShow.Id" />
                                        <input type="hidden" name="cinemaHallId" value="@movieShow.CinemaHallID" />
                                        <input type="hidden" name="dateShows" value="@movieShow.Date" />
                                        <input type="hidden" name="PriceSeatOfShow" value="@movieShow.Price" />
                                        <input type="hidden" name="totalSeats" value="@movieShow.CinemaHall.Totalseats" />
                                        <button id="buyTicketButton" type="submit" class="btn btn-primary">Buy Ticket</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    @if (HttpContextAccessor.HttpContext.User.Claims.Any(x => x.Value == "Admin"))
    {
        <div>@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) | </div>
    }
    <a asp-action="Index">Back</a>
</div>
@section Scripts{
    <script>
        //document.addEventListener('DOMContentLoaded', function () {
        //    const buyTicketButton = document.querySelector('#buyTicketButton');
        //    $.ajax({
        //        url: `https://localhost:7099/getbooking/${"@(ViewBag.UserID)"}/movieshow/${@(ViewBag.MovieShowID)}`,
        //        type: 'GET',
        //        success: function (data) {
        //            if (data !== null) {
        //                buyTicketButton.disabled = true;
        //            }
        //        },
        //        error: function (xhr, status, error) {
        //            console.log('Error:', error);
        //        }
        //    });
        //});
    </script>
}