@model OnlineBookingTicket.Models.MovieVMs.MovieDetailsVM
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>

@*<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-8 col-xs-offset-2 col-md-offset-0">
        <div class="">
            <img src="../../Image/@Model.Image" alt="Card image cap"
                 style="max-width: 800px; max-height: 400px;">
        </div>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-12">

        <h2>@Html.DisplayFor(model => model.Title)</h2>

    </div>
</div>*@
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            <img src="../../Image/@Model.Image" alt="Card image cap"
            style="max-width: 900px; max-height: 400px;">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationInMinutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationInMinutes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-2">
            Movie Shows
        </dt>
        <dd class="col-sm-10">
            <table>
                <thead>
                    <tr>
                        <th>Cinema Hall</th>
                        <th>ShowDate</th>
                        <th>Start</th>
                        <th>End</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var movieShow in Model.MovieShows)
                    {
                        <tr>
                            <td>@movieShow.CinemaHall.Name</td>
                            <td>@movieShow.Date.ToString("dd/MM/yyyy")</td>
                            <td>@movieShow.Starttime.ToString("hh:mm tt")</td>
                            <td>@movieShow.Endtime.ToString("hh:mm tt")</td>
                            <td>
                                <form action="@Url.Action("SelectSeats", "MovieShows")" method="post">
                                    <input type="hidden" name="movieShowId" value="@movieShow.Id" />
                                    <input type="hidden" name="cinemaHallId" value="@movieShow.CinemaHallID" />
                                    <input type="hidden" name="totalSeats" value="@movieShow.CinemaHall.Totalseats" />
                                    <button type="submit" class="btn btn-primary">Buy Ticket</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    @if (HttpContextAccessor.HttpContext.User.Claims.Any(x => x.Value == "Admin"))
    {
        <div>@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) | </div>
    }
    <a asp-action="Index">Back</a>
</div>
